body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* Contenedor general en dos columnas */
.contenedor-doble {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Caja individual (se mantiene igual) */
.contenedor {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #2f6fed;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #255ed1;
}

.respuesta {
    flex: 1 1 100%;
    
    padding: 20px;
    border-radius: 10px;
}

.respuesta h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.respuesta-positiva{
    background-color: lime;
}

.respuesta-negativa{
    background-color: red;
}